.page-nav {
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.page-link {
  color: #fff;
  flex-grow: 1;
  text-align: center;
}
.page-nav-width {
  max-width: 980px;
}
.page-link:hover {
  color: rgb(161, 161, 161);
}
.apple path {
  fill: white;
}
.apple:hover path {
  fill: rgb(161, 161, 161);
}

@media (max-width: 768px) {
  .page-nav {
    background: teal;
  }
}
