.section-iphone-8 {
  margin-top: 20px;
  background-color: rgb(250, 242, 235);
  min-height: 740px;
  display: flex;
  justify-content: center;
}

.section-iphone-8-img {
  width: 611px;
  padding-top: 30px;
}

.page-container_iphone-8 {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
